################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/RestAPIHost/v14
/RestAPIHost.csproj.user
